[KSplash Theme: Default-Citadel]
Name = Default Splash Screen with Citadel Background
Description = Air and Elarun Splash Screen (with Citadel background)
Version = 1.0
Author = Nuno Pinheiro <nuno@oxygen-icons.org>, Riccardo Iaconelli <riccardo@kde.org> and Marco Martin <notmart@gmail.com>
Homepage = http://www.kde.org

# Theme behaviour settings.
Engine = KSplashX
